/* CSS 작성 */
body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  position: absolute;
  left: 292px;
}

a {
  text-decoration: none;
}

.main-link {
  display: block;
  width: 156px;
  height: 40px;
}

.logo {
  width: 156px;
  height: 40px;
}

section {
  position: absolute;
  top: 48px;
  left: 292px;
}

.today-discover {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
}

.text {
  color: var(--color-gray);
}

.today-hot {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray);
  display: inline-block;
}

article {
  position: relative;
  top: 130px;
  width: 1020px;
  height: 1010px;
  margin: 0 auto;
  align-items: center;
}

.products {
  float: left;
  margin-bottom: 19px;
}

/* .product1-link {
  display: inline-block;
  width: 450px;
  height: 310px;
}

.product2-link {
  display: inline-block;
  width: 208px;
  height: 310px;
} */

button {
  position: relative;
  width: 30px;
  height: 30px;
  color: var(--color-gray-btn);
  background-color: black;
  opacity: 30%;
  border: none;
  top: -20px;
  left: 45px;
}

button:hover {
  background-color: #0073e9;
  opacity: 100%;
  color: var(--color-white);
}

button:hover::before {
  content: '구매하기';
  width: 80px;
  height: 30px;
}

.product1 {
  width: 450px;
  height: 310px;
  border: 1px solid var(--color-gray);
}

.product1:hover,
.product1:focus {
  border: 1px solid var(--color-blue);
}

.product2 {
  width: 208px;
  height: 310px;
  border: 1px solid var(--color-gray);
}

.product2:hover {
  border: 1px solid var(--color-blue);
}

/* .product1 {
  width: 310px;
  height: 210px;
  border: 1px solid var(--color-gray);
}

.product2 {
  width: 147px;
  height: 210px;
  border: 1px solid var(--color-gray);
} */
