/* CSS 작성 */
body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* header */

header {
  position: absolute;
  left: 266px;
  margin-bottom: 48px;
}

header h1 a {
  text-decoration: none;
  display: inline-block;
  height: 30px;
}

header h1 a .main-link img {
  width: 176px;
  height: 40px;
}

/* section */

section {
  position: absolute;
  display: block;
  top: 90px;
  left: 266px;
}

section .today-discover {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
}

section .text {
  color: var(--color-gray);
}

section .today-hot {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray);
  display: inline-block;
}

/* article */

article {
  position: relative;
  top: 154px;
  width: 1036px;
  height: 1010px;
  margin: 0 auto;
  align-items: center;
}

article .products {
  position: relative;
  float: left;
  margin-bottom: 16px;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}

article .products:hover {
  border: 1px solid var(--color-blue);
}

article .big {
  width: 502px;
  height: 310px;
  border: 1px solid var(--color-gray);
}

article .small {
  width: 243px;
  height: 310px;
  border: 1px solid var(--color-gray);
}

article .big img {
  position: absolute;
  margin: 0 auto;
  width: 472px;
  height: 290px;
}

article .small img {
  position: absolute;
  margin: 0 auto;
  width: 213px;
  height: 290px;
}

article .products button {
  position: absolute;
  cursor: pointer;
  width: 42px;
  height: 42px;
  color: var(--color-gray-btn);
  background-color: black;
  opacity: 20%;
  border: none;
  top: 248px;
  left: 20px;
}

article .products button:hover,
article .products button:focus {
  background-color: #0073e9;
  opacity: 100%;
  color: var(--color-white);
  width: 112px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.5s;
}

article .products button:hover::before,
article .products button:focus::before {
  color: var(--color-white);
  content: '구매하기';
  margin-right: 16px;
}
